<!DOCTYPE html>
<html>
<head>
    <title>Welleazy Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>

<h2>Make Payment for Cart #{{ cart_id }}</h2>

<button id="payBtn">Pay Now</button>

<script>

const ACCESS_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzY3MzM2OTQ5LCJpYXQiOjE3NjczMzUxNTAsImp0aSI6ImNkNTM2OGM3NTdhZDQ2MDJiOTY3MDdlNzE3NGE0ZTNlIiwidXNlcl9pZCI6IjEifQ.8syYxwjir9HN1dMqmp7TAsxBsLklR6WgcQowsYak6lI";

localStorage.setItem("access", ACCESS_TOKEN);

const token = localStorage.getItem("access");
const cartId = "{{ cart_id }}";

document.getElementById("payBtn").onclick = async function () {

    const orderRes = await fetch(`/api/payments/create-order/${cartId}/`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token
        }
    });

    const orderData = await orderRes.json();
    console.log("Order Data:", orderData);

    if (!orderRes.ok) {
        alert("Order Failed: " + JSON.stringify(orderData, null, 2));
        return;
    }


    var options = {
        "key": orderData.key_id,
        "amount": orderData.amount * 100,
        "currency": "INR",
        "name": "Welleazy",
        "description": "Appointment Payment",
        "order_id": orderData.order_id,

        "handler": async function (response) {

            console.log("Payment Response:", response);

            const verifyRes = await fetch(`/api/payments/verify/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + token
                },
                body: JSON.stringify({
                    razorpay_payment_id: response.razorpay_payment_id,
                    razorpay_order_id: response.razorpay_order_id,
                    razorpay_signature: response.razorpay_signature
                })
            });

            const verifyData = await verifyRes.json();
            alert(JSON.stringify(verifyData, null, 2));
        }
    };

    var rzp = new Razorpay(options);
    rzp.open();
};
</script>

</body>
</html>
